*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    font-family: 'Nerko One', cursive;
    background: #1e90ff61;
}

.main-container{
    margin: 0 auto;
    width: 1080px;
    height: 930px;
}

/* utility */
.main-container::after{
    content: '';
    display: table;
    clear: both;
}


header h1{
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 60px;
}

.different.box,
.special.box{
    border-radius: 6%;
    height: 306px;
    width: 250px;
    margin: 20px 10px;
    float: left;
    background-color: white;
}

.card-special,
.card { 
    position: relative;
    width: 250px;
    height: 306px;
}
.card img {
    display: none;
    width: 255px;
}
.card h3 {
    display: none;
    text-align: center;
    color: rgb(196, 136, 27);
    font-size: 30px;
}
.card .pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/pattern.png');
    background-size: 200px;
}
.card:hover img,
.card:hover h3 {
    display: block;
}
.card:hover .pattern {
    display: none;
}

.card-special img {
    width: 255px;
}

.card-special h3{
    color: #d42b64;
    font-size: 30px;
    text-align: center;
}

.card-special:hover h3 {
    color: rgb(196, 136, 27);
}






footer h4{
    text-align: center;
    vertical-align: middle;
    color: black;

}